# Dữ liệu của Moodle (KHÔNG BAO GIỜ push)
moodledata/

# Dữ liệu database local (KHÔNG BAO GIỜ push)
moodle-db/
moodle-db-data/

# Các file rác
.DS_Store
*.log
.vscode/

# Bỏ qua nếu chạy composer/npm
/vendor/
/moodle/vendor/
/node_modules/
/moodle/node_modules/